lab03/mnist_test.csv
lab03/mnist_train.csv
lab02/linear.csv
lab02/linear_test.csv
lab02/linear_train.csv
lab02/polynomial.csv
lab02/polynomial_test.csv
lab02/polynomial_train.csv
lab01/facts.json
lab01/rules.json
lab01/test.json
lab01/tets.json